@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom cursor styles */
.cursor-outer,
.cursor-inner {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  will-change: transform;
  mix-blend-mode: difference;
}

.cursor-inner {
  width: 10px;
  height: 10px;
  background-color: theme("colors.primary.500");
  transition: transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95),
    opacity 0.2s ease;
}

.cursor-outer {
  width: 40px;
  height: 40px;
  border: 1.5px solid theme("colors.primary.300");
  background-color: transparent;
  transition: transform 0.6s cubic-bezier(0.1, 0.8, 0.2, 1), width 0.4s ease-out,
    height 0.4s ease-out;
}

/* Hover effects */
.hover-effect .cursor-inner {
  transform: translate(-50%, -50%) scale(1.3);
  background-color: theme("colors.primary.700");
}

.hover-effect .cursor-outer {
  width: 30px;
  height: 30px;
  background-color: theme("colors.primary.400");
}

.click-effect .cursor-inner {
  transform: translate(-50%, -50%) scale(0.9);
}

.click-effect .cursor-outer {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: theme("colors.primary.500");
}
